
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* variables */
:root{
    --colorDecoracion: #F79327;
    --colorFondo: beige;
    --colorClaro: lightsalmon;
    --tipografía:'Arial Narrow', Arial, sans-serif;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*  la imagen no se salga de la pagina, el bordecoito */
    
}

/*---------HEADER--------------*/
.listaMenu{
    height: 10px;
    /* disposición flexible -> los elementos uno al lado del otro */
    display: flex;
    /* centrar */
    /* centra an x */
    justify-content: center;
    /* centrar en y */
    align-items: center;
    /* separeciones entre elementos hijos */
    gap: 50px;
    /* quitar viñetas de lista */
    list-style: none;
}
.listaMenu a{
    /* quitar la decoración del texto */
    text-decoration: none;
    /* color del texto */
    color: var(--colorTexto);
    /* tamaño de texto */
    font-size: 20px;
    /* más ancha la letra -> negrilla */
    font-weight: bold;
}

.listaMenu a:hover{
    color: white;
}



.contenedor-slider{
   

    /* 
        Para responsive, no usar valores fijos como PX, Sino valores relativos, como % y vw -vh
    */
    width: 80%;
    height: 65vh;
    /* width: 70%;
    height: 65vh; */
    /* margin: auto -> centrar contenedores */
   margin: 10px auto;
    overflow-x: hidden;
    margin-bottom: 0%;
}

/* contenedor directo, le especifico cómo se debe mover */
.slider{
    width: 70%;
    height: 70%;
    display: flex;
    /* nombre que se conecta con el keyframe */
    animation-name: deslizar;
     /*tiempo de duración  */
    animation-duration: 12s;
    /* cuantas veces queremos que se repita la animación */
    animation-iteration-count: infinite;
    /* forma en que queremos que se de el movimiento */
    animation-timing-function: ease-in-out;
    /* dirección de mi animación */
    animation-direction: alternate-reverse;
}


    @keyframes deslizar {
        from{
            transform: translateX(0%);
            /* transform: scale(0.5); */
        }
        50%{
            transform: translateX(-100%);
            
        }
        to{
            transform: translateX(-200%);
        }
    }
    
    .contenedor-slider img{
        height: 80%;
        width: 80%;
        
    }






body{
    overflow-x: hidden;
    box-sizing: border-box;
}

main{
    border: 5px;
    width: 70%
    
    
}

.seccion1{
    border: 3px;
    width: 40%;
}
.logo{
    width: 100px;
    height: 80px;
    margin: 1%;
    
}

.navegacion{
    background-color: #F79327;
    width: 100%;
    height: 100px;
    width: 100%;
    height: 100px;

    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1000;
}


.imagenPersonal{
    width: 250px;
    height: 250px;
    align-items: center;
    margin-left: 15%;
    border-radius: 15px 
    
}

.titulo{
    text-align: left;
    margin-bottom: 5%;
}

#div-imagen{
    display: flex;
    justify-content:left;
   align-items: center;
    gap: 90px;
  
}

#div-imagen img{
    width: 110%;
}

#div-imagen h1{
    width: 110%;
}

#div-imagen p{
    width: 150%;

}


.frase{
    margin-top: 4%;
    width: 80%;
}


.contenedor{
 display: flex;
 justify-content: center;
 margin-bottom: 50px;
 margin-left: 200px;
 display: grid;
 grid-template-rows: auto auto auto;
row-gap: 50px;
height: 90vh;
width: 80%;
 
 
}
.contenido{
    text-align: center;
    display: flex;
    align-items: center;
   
}


.habilidades{
    margin-right: 20% ;
    background-color:  var(--colorClaro);
    border-radius: 10%;
    border: 20px var(--colorClaro);
    justify-content: right;
    padding: 3%;

    
}

.hobbies{
    background-color: var(--colorClaro);
    border-radius: 10%;
    border: 20px var(--colorClaro);
    padding: 3%;
    
}

.hobbies2{
    margin-left: 20% ;
    background-color: var(--colorClaro);
    border-radius: 10%;
    border: 20px var(--colorClaro);
    padding: 3%;
}


/*------------FOOTER------------  */

footer{
    width:100%;
    height: auto;
    background-color: #F79327;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    position: absolute;
}

.logo-2{
    
    width: 100px;
    height: 100px;
    margin-top: 15%;
}

.redesSociales{
    text-align: justify;
}

@media screen and (max-width:1024px){
    .contenedor{
    display: flex;
    align-items: center;
       
    }
}

